/*--------------------------------------------------------------------- Nome dos arquivos: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- fontes importadas ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/

/*--------------------------------------------------------------------- arquivos importados ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- esqueleto ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #e0e0e0;
    background-color: #121212;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Sen', sans-serif;
}

/* Estilo geral para a seção de áudio */
.service_section {
    text-align: center; /* Centraliza o conteúdo da seção */
    padding: 20px; /* Ajuste o padding conforme necessário */
}

/* Estilo para o elemento de áudio */
audio {
    margin: 20px auto; /* Adiciona espaçamento e centraliza o áudio */
    display: block; /* Faz com que o elemento de áudio se comporte como bloco */
    max-width: 100%; /* Garante que o áudio não exceda o tamanho da tela */
}

/* Estilo opcional para o título do áudio */
.service_taital {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}

a {
    color: #cccccc;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    color: #f0f0f0;
    margin: 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #e0e0e0;
    text-decoration: none!important;
    opacity: 1;
}

button:focus {
    outline: none;
}

ul, li, ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

img {
    max-width: 75%;
    height: auto;
}

.logo {
    width: 25%;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ffffff;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #b0b0b0;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
    background-color: #1c1c1c;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}

/* Início da seção de cabeçalho */
.header_section {
    width: 100%;
    background-color: #1c1c1c;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.ml-auto,
.mx-auto {
    margin: 0 auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 20px;
    font-size: 20px;
    color: #f0f0f0;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #f0f0f0;
}

.navbar-brand {
    width: 25%;
}

.navbar {
    padding: 20px 5px;
}

/* Fim da seção de cabeçalho */

/* Início da seção de banner */
.banner_section {
    width: 100%;
    float: left;
    background-color: #1c1c1c;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 75px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #f0f0f0;
    padding-top: 100px;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #e0e0e0;
    margin: 1%;
    padding: 30px 0px;
    text-align: center;
}

.read_bt a {
    font-size: 16px;
    color: #ffffff;
    background-color: #252525;
}

.read_bt a:hover {
    color: #252525;
    background-color: #e0e0e0;
}

/* Fim da seção de banner */

/* Início da seção de conscientização (service) */
.service_section {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.service_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #e0e0e0;
    font-weight: 800;
    text-align: center;
}

.service_taital::after {
    content: '';
    position: absolute;
    width: 50px;
    left: 0px;
    right: 0px;
    background-color: #000000;
    height: 10px;
    bottom: 0px;
    margin: 0 auto;
    border-radius: 20px;
}

.service_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}

.service_box {
    width: 100%;
    background-color: #252525;
    height: auto;
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 30px;
}

.service_box:b {
    background-color: #333333;
    margin-top: 50px;
}

.service_box.active {
    background-color: #000000;
    margin-top: 50px;
}

.building_icon {
    width: 100%;
    text-align: center;
    padding: 0px 0px 20px 0px;
    min-height: 93px;
}

.residential_text {
    width: 80%;
    font-size: 26px;
    color: #f0f0f0;
    text-align: center;
    margin: 0 auto;
}

.service_text {
    width: 100%;
    font-size: 15px;
    color: #f0f0f0;
    text-align: center;
    margin: 0px;
}

.readmore_bt a {
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #f0f0f0;
    background-color: #333333;
}

/* Fim da seção de conscientização (service) */

/* Início da seção de sobre nós */
.about_section {
    width: 100%;
    float: left;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #e0e0e0;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.about_taital::after {
    content: '';
    position: absolute;
    width: 100px;
    left: 0px;
    background-color: #333333;
    height: 10px;
    bottom: 0px;
    right: 0px;
    margin: 0 auto;
    border-radius: 20px;
}

.about_section_2 {
    width: 100%;
    float: left;
    background-color: #1c1c1c;
    height: auto;
    background-size: 100%;
}

.about_taital_main {
    width: 100%;
    float: left;
}

.slightly_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #e0e0e0;
    font-weight: bold;
    margin-top: 60px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #e0e0e0;
    margin: 30px 0px 30px 0px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f0f0f0;
    background-color: #333333;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-weight: bold;
}

.readmore_btn a:hover {
    color: #ffffff;
    background-color: #e0e0e0;
}

/* Fim da seção de sobre nós */

/* Início da seção de depoimentos (testimonial) */
.testimonial_section {
    width: 100%;
    float: left;
    padding-bottom: 65px;
}

.testimonial_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #e0e0e0;
    text-align: center;
    font-weight: bold;
}

.testimonial_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #e0e0e0;
    margin-left: 0px;
}

.testimonial_section_2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    margin-bottom: 10px;
}

.testimonial_left {
    width: 30%;
    float: left;
}

.testimonial_right {
    width: 70%;
    float: left;
}

.client_img {
    width: 100%;
    float: left;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.client_img::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 190px;
    border: 5px solid #333333;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.markro_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #e0e0e0;
    font-weight: bolder;
}

.many_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #d0d0d0;
    margin: 0px;
}

.quick_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #333333;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background: #252525;
    color: #ffffff;
}

/* Fim da seção de depoimentos (testimonial) */

/* Início da seção de "contato" */
.shop_section {
    width: 100%;
    float: left;
    background-image: url(../images/shop-bg.png);
    height: auto;
    padding: 90px 0px;
    background-size: cover;
    margin-top: 90px;
}

.shop_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #f8f8f8;
}

.shop_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #f8f8f8;
    margin: 0px 0px 40px 0px;
}

.quote_bt a {
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
}

.quote_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

.call_bt a {
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
}

.call_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

.call_bt.active a {
    background: #ffffff;
    color: #252525;
}

/* fim da seção de "contato" */

/* Início da seção de rodapé */
.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    margin-top: 90px;
    padding: 90px 0px;
}

.footer_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer_text {
    width: 68%;
    float: left;
    font-size: 16px;
    color: #f8f8f8;
    margin: 0px;
    padding-top: 10px;
}

.footer_menu li a:hover {
    color: #ffffff;
}

.footer_menu li.active a {
    color: #ffffff;
}

.subscribe_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

/* fim da seção de rodapé */

/* início da seção de rodapé */
.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #f8f8f8;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #f8f8f8;
}

.copyright_text a:hover {
    color: #ffffff;
}

.margin_top_90 {
    margin-top: 90px;
}

/* Fim da seção de rodapé */

/* Largura */
::-webkit-scrollbar {
    width: 10px;
}

/* Trilha */
::-webkit-scrollbar-track {
    background: #000000; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
