
/*--------------------------------------------------------------------- Nome dos arquivos: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- fontes importadas ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
    font-family: "Righteous";
    src: url("../fonts/BalooChettan-Regular.ttf");
    src: url("../fonts/BalooChettan-Regular.ttf");
}


/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- arquivos importados ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- esqueleto ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Sen', sans-serif;
}
/* Estilo geral para a seção de áudio */
.service_section {
    text-align: center; /* Centraliza o conteúdo da seção */
    padding: 20px; /* Ajuste o padding conforme necessário */
}

/* Estilo para o elemento de áudio */
audio {
    margin: 20px auto; /* Adiciona espaçamento e centraliza o áudio */
    display: block; /* Faz com que o elemento de áudio se comporte como bloco */
    max-width: 100%; /* Garante que o áudio não exceda o tamanho da tela */
}

/* Estilo opcional para o título do áudio */
.service_taital {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
}


a {
    color: #5e5e5e;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 75%;
    height: auto;
}

.logo {
width: 25%;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ffffff;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #504e4d;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    width: 100px;
    transition: all 1.8s;
    cursor: pointer;
    margin: 3px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    color: #eaff00;
    right: 0;
  }

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-bottom: 30px;
}

.padding_0 {
    padding: 0px;
}


/* Início da seção de cabeçalho */

.header_section {
    width: 100%;
    background-color: #fff173;
    height: auto;
    background-size: 100%;
}

.bg-light {
    background-color: transparent !important;
}

.ml-auto,
.mx-auto {
    margin: 0 auto !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 8px 20px;
    font-size: 20px;
    color: #000000;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #000000;
}

.navbar-brand {
    width: 25%;
}

.navbar {
    padding: 20px 5px;
}


/* Fim da seção de cabeçalho */


/* Início da seção de banner */

.banner_section {
    width: 100%;
    float: left;
    background-color: #000000;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 75px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffd000;
    padding-top: 100px;
    font-weight: bold;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
}

.banner_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 1%;
    padding: 30px 0px;
    text-align: center;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #f5f5f5;
    background-color: #000000;
    padding: 12px 0px;
    text-align: center;
    border-radius: 4px;
}

.read_bt a:hover {
    color: #252525;
    background-color: #f5f5f5;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 0px;
    top: 90%;
}

#main_slider a.carousel-control-next {
    position: absolute;
    right: 0px;
    top: 90%;
    background-color: #ffeb3b;
    color: #424242;
}

#main_slider .carousel-control-prev,
#main_slider .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #ffeb3b;
    opacity: 1;
    font-size: 30px;
    color: #424242;
}

#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus {
    background: #f5f5f5;
    color: #f5f5f5;
}


/* Fim da seção de banner */


/* Início da seção de conscientização (service) */

.service_section {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.service_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #424242;
    font-weight: 800;
    text-align: center;
}

.service_taital::after {
    content: '';
    position: absolute;
    width: 50px;
    left: 0px;
    right: 0px;
    background-color: #424242;
    height: 10px;
    bottom: 0px;
    margin: 0 auto;
    border-radius: 20px;
}

.service_section_2 {
    width: 100%;
    float: left;
    padding-top: 30px;
}
.service_box {
    width: 100%;
    background-color: #424242;
    height: auto;
    padding: 40px 20px;
    border-radius: 10px;
    margin-top: 30px;
    transition: background-color 0.3s, margin-top 0.3s;
}

.service_box:hover {
    background-color: #ffeb3b;
    margin-top: 50px;
}

.service_box:hover .residential_text,
.service_box:hover .service_text {
    color: #000000; /* Texto preto quando passar o mouse */
}

.service_box.active {
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
}

.building_icon {
    width: 100%;
    text-align: center; /* Centraliza o texto dentro do elemento */
    padding: 0px 0px 20px 0px;
    max-width: 100px;
    margin: 0 auto; /* Garante que o contêiner seja centralizado */
}

.residential_text {
    width: 80%;
    font-size: 26px;
    color: #fcfcfd; /* Cor padrão do texto */
    text-align: center;
    margin: 0 auto;
}

.service_text {
    width: 100%;
    font-size: 15px;
    color: #fcfcfd; /* Cor padrão do texto */
    text-align: center;
    margin: 0px;
}

.readmore_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fcfcfd;
    background-color: #000000;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #fcfcfd;
    background-color: #f9b116;
}

.readmore_bt.active a {
    color: #fcfcfd;
    background-color: #000000;
}


/* Fim da seção de conscientização (service) */


/* Início da seção de sobre nós */

.about_section {
    width: 100%;
    float: left;
    height: auto;
    background-size: 100%;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #232222;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.about_taital::after {
    content: '';
    position: absolute;
    width: 100px;
    left: 0px;
    background-color: #f9b116;
    height: 10px;
    bottom: 0px;
    right: 0px;
    margin: 0 auto;
    border-radius: 20px;
}

.about_section_2 {
    width: 100%;
    float: left;
    background-color: #f9b116;
    height: auto;
    background-size: 100%;
}

.about_taital_main {
    width: 100%;
    float: left;
}

.slightly_text {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #232222;
    font-weight: bold;
    margin-top: 60px;
}

.lorem_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #232222;
}

.readmore_btn {
    width: 170px;
    float: left;
    padding-top: 30px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fcfcfd;
    background-color: #f9b116;
    text-align: center;
    padding: 12px 0px;
    border-radius: 5px;
    font-weight: bold;
}

.readmore_btn a:hover {
    color: #ffffff;
    background-color: #232222;
}

.about_img img {
    width: 100%;
    float: left;
}


/* Fim da seção de sobre nós */


/* Início da seção de depoimentos (testimonial) */

.testimonial_section {
    width: 100%;
    float: left;
    padding-bottom: 65px;
}

.testimonial_taital {
    width: 100%;
    float: left;
    font-size: 50px;
    color: #111111;
    text-align: center;
    font-weight: bold;
}

.testimonial_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #232222;
    margin-left: 0px;
}

.testimonial_section_2 {
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding-top: 40px;
    margin-bottom: 10px;
}

.testimonial_left {
    width: 30%;
    float: left;
}

.testimonial_right {
    width: 70%;
    float: left;
}

.client_img {
    width: 100%;
    float: left;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
}

.client_img::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 190px;
    border: 5px solid #f9b116;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.markro_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #232222;
    font-weight: bolder;
}

.many_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #2f2f2e;
    margin: 0px;
}

.quick_icon {
    width: 100%;
    float: left;
    padding-top: 20px;
}

#my_slider a.carousel-control-prev {
    position: absolute;
    left: 200px;
    top: 105%;
}

#my_slider a.carousel-control-next {
    position: absolute;
    right: inherit;
    top: 105%;
    left: 260px;
}

#my_slider .carousel-control-prev,
#my_slider .carousel-control-next {
    width: 50px;
    height: 50px;
    background: #f9b116;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#my_slider .carousel-control-prev:hover,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-next:focus {
    background: #252525;
    color: #ffffff;
}


/* Fim da seção de depoimentos (testimonial) */


/* Início da seção de "contato" */

.shop_section {
    width: 100%;
    float: left;
    background-image: url(../images/shop-bg.png);
    height: auto;
    padding: 90px 0px;
    background-size: cover;
    margin-top: 90px;
}

.shop_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-align: center;
    color: #f8f8f8;
}

.shop_text {
    width: 100%;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #f8f8f8;
    margin: 0px 0px 40px 0px;
}

.btn_main {
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.quote_bt {
    width: 170px;
    float: left;
}

.quote_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #f9b116;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}

.quote_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

.call_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
}

.call_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #f9b116;
    padding: 10px 0px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}

.call_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

.call_bt.active a {
    background: #ffffff;
    color: #252525
}


/* fim da seção de "contato" */


/* Início da seção de contato */

.contact_section {
    width: 100%;
    float: left;
    background-image: url(../images/contact-bg.png);
    height: auto;
    background-size: 100%;
}

.contact_taital {
    width: 100%;
    float: left;
    color: #0b0b0b;
    font-weight: bold;
    font-size: 40px;
    padding-left: 100px;
}

.contact_section_2 {
    width: 100%;
    float: left;
}

.mail_section_1 {
    width: 100%;
    float: left;
    padding-left: 100px;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #363636;
    border: 0px;
    border: 1px solid #003471;
    background-color: #ffffff !important;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
}

.massage-bt {
    color: #363636;
    width: 100%;
    height: 110px;
    font-size: 18px;
    border: 1px solid #003471 !important;
    background-color: #ffffff !important;
    padding: 40px 15px 10px 15px;
    margin-top: 20px;
}

.send_bt {
    width: 170px;
    float: left;
    margin-top: 20px;
}

.send_bt a {
    width: 100%;
    float: left;
    background-color: #f9b116;
    color: #fefeff;
    text-align: center;
    padding: 12px 0px;
    font-size: 16px;
    border-radius: 4px;
}

.send_bt a:hover {
    background-color: #252525;
    color: #fefeff;
}

.padding_right0 {
    padding-right: 0px;
}


/* fim da seção de contato */


/* Início da seção de rodapé */

.footer_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
    background-size: 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    margin-top: 90px;
    padding: 90px 0px;
}

.footer_section_2 {
    width: 100%;
    float: left;
    padding-top: 90px;
}

.useful_text {
    width: 100%;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.footer_text {
    width: 68%;
    float: left;
    font-size: 16px;
    color: #f8f8f8;
    margin: 0px;
    padding-top: 10px;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
}

.footer_menu li {
    font-size: 16px;
    color: #f8f8f8;
}

.footer_menu li a {
    color: #f8f8f8;
}

.footer_menu li a:hover {
    color: #f9b116;
}

.footer_menu li.active a {
    color: #f9b116;
}

.Enter_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f8f8f8;
    background-color: transparent;
    padding: 8px 15px;
    margin-top: 10px;
    border: 1px solid #f8f8f8;
}

input.Enter_text::placeholder {
    color: #f8f8f8;
}

.subscribe_bt {
    width: 190px;
    float: left;
    margin-top: 20px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f8f8f8;
    background-color: #f9b116;
    text-align: center;
    padding: 12px 0px;
    text-transform: uppercase;
    border-radius: 4px;
}

.subscribe_bt a:hover {
    color: #252525;
    background-color: #ffffff;
}

.padding_left_15 {
    padding-left: 15px;
}

.social_icon {
    width: 100%;
    float: left;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 20px 30px 0px 0px;
    color: #f8f8f8;
    font-size: 22px;
}

.social_icon li a:hover {
    color: #f9b116;
}


/* fim da seção de rodapé */


/* início da seção de rodapé */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #252525;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #f8f8f8;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #f8f8f8;
}

.copyright_text a:hover {
    color: #f9b116;
}

.margin_top_90 {
    margin-top: 90px;
}


/* Fim da seção de rodapé */


/* Largura */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Trilha */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 213, 0); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


.toggle-button {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100px; /* Ajuste o tamanho do botão conforme necessário */
    height: 100px; /* Ajuste o tamanho do botão conforme necessário */
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button img {
    position: absolute;
    transition: opacity 0.5s ease;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#toggle-image {
    opacity: 1;
}

#toggle-button img.hidden {
    opacity: 0;
}
/* styles.css */

.hidden {
    display: none;
}

/* Modo Claro */
body {
    background-color: #fff;
    color: #000;
}

/* Modo Escuro */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

