body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f7f9; /* Fundo cinza claro */
  user-select: none;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #ffffff; /* Fundo branco */
  padding: 40px 60px;
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
  font-size: 2.5em;
  color: #2c3e50; /* Cor escura para o texto */
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 0;
}

h3 {
  font-size: 1.5em;
  padding: 10px;
  color: #34495e; /* Cor um pouco mais clara */
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #ffffff;
  background-color: #27ae60; /* Verde para o botão */
  border: none;
  font-size: 1.2em;
  letter-spacing: .03em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 560;
  border-radius: 5px; /* Cantos arredondados para o botão */
}

.reset:focus {
  color: #ffffff;
  background-color: #1e8449; /* Verde mais escuro ao focar */
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 1rem;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ecf0f1; /* Cor de fundo clara */
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #2c3e50; /* Cor escura para o verso dos itens */
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateX(180deg);
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #504e4d;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 100px;
  transition: all 1.8s;
  cursor: pointer;
  margin: 3px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  color: #eaff00;
  right: 0;
}